<a href="https://colab.research.google.com/github/ParkEunbin/ML_basic/blob/main/210120(1)_pandas%20basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

지도학습
1. 과거의 데이터를 준비 /
원인(독립변수)과 결과(종속변수)가 있다.
2. 모델의 구조를 만든다.
3. 데이터로 모델을 학습(FIT)한다.
4. 모델을 이용한다.

In [1]:
#Pandas :표를 다루는 도구
import pandas as pd

데이터 
*  레몬에이드:https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv 
*보스턴: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv
*  아이리스: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv

#데이터 준비하기1


*   파일 읽어오기 : pd.read_csv
*   모양 확인하기 : print(데이터.shape)
*   칼럼 선택하기: 데이터[['칼럼명1','칼럼명2','칼럼명3']]
*   칼럼 이름 출력하기: print(데이터.columns)
*   맨 위 5갸 관측치 출력하기: 데이터.head()

In [4]:
#파일들로두터 데이터 읽어오기
path='https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(path)

path='https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston= pd.read_csv(path)

path='https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
iris = pd.read_csv(path)

In [5]:
#데이터 모양으로 확인
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [6]:
#칼럼이름 출력
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [10]:
독립=lemonade[['온도']]
종속=lemonade[['판매량']]
print(독립.shape,종속.shape)

(6, 1) (6, 1)

In [11]:
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [12]:
boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [13]:
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa